@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #3cbbb2;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 1;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  height: 8vh;
}

main {
  background-color: #3cbbb2;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}


